.tbl-container {
    width: 100%;
    margin-top: 10px;
  }

.bdr {
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;
  }

.table-alignment {
    margin-top: 35px;
    padding-left: 15px; /* Add some left padding for larger screens */
}

.table {
    margin: 0;
}

@media (max-width: 768px) {
  .table-alignment {
    padding-left: 20px; /* Add more padding for mobile view */
  }
}

h1 {
  text-decoration: underline;
}

#learnMovesTbl {
  width: 75%;
  margin: auto;
}

@media (max-width: 768px) {
  #learnMovesTbl {
    width: 100%;
  }
}